body {
  background-image: url('/RETO/images/fondo5.png');
  font-family: 'Fredoka', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

ul {list-style-type: none;}

.month {
    margin: auto;
    padding: 7px 25px;
    width: 70%;
    background: rgb(55, 54, 128);
    text-align: center;
}

.month h1 {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}


.weekdays {
  margin: auto;
  width: 70%;
  padding: 10px 0;
  background-color: #ddd;
}

.weekdays li {
  display: inline-block;
  width: 13.6%;
  color: #666;
  text-align: center;
}

.days {
    padding: 10px 0;
    background: #eee;
    margin: auto;
    width: 70%;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  margin-bottom: 5px;
  font-size:12px;
  color: #777;
}

.primerdia {
  margin-left: 71.4%;
}

.days li .active {
  padding: 5px;
  background: #ffea00;
  color: rgb(0, 0, 0) !important
}

/* ==================== FOOTER ==================== */
footer {
  background-color: #ffffff7a;
  color: #333;
  font-size: 0.9rem;
  margin-top: 50px;
  clear: both;
}


/* Add media queries for smaller screens */
@media screen and (max-width:720px) {
  .weekdays li, .days li {width: 13.1%;}
}

@media screen and (max-width: 420px) {
  .weekdays li, .days li {width: 12.5%;}
  .days li .active {padding: 2px;}
}

@media screen and (max-width: 290px) {
  .weekdays li, .days li {width: 12.2%;}
}